.variables{
    order: 1;
    margin-left: 60px;
}
.dimensions{
    height: 400px;
    width: 200px;
}
.magnitude {
    @extend .dimensions;
    width: 340px;
}
@mixin variablesPhoto{
    background-size: 8px 20px;
    background-repeat: no-repeat;
    font-style: normal;
}
.dimensionsPhoto{
    @include variablesPhoto();
    background-image: url('../../images/界面切换符.png');
}
.magnitudePhoto,.choosedPhoto,.subTypeHeader,.variablesTabBG{
    @include variablesPhoto();
    background-image: url('../../images/界面切换符3.png');
}
h3{
    font-weight: bold;
    position: relative;
    display: inline;
    margin-left: 18px;
}
h6{
    color: gray;
    position: relative;
    margin: 10px 0;
    display: block;
}
@mixin variablesCommon{
    display: inline-block;
    border-radius: 10px;
    border: 1px solid #ff4982;
    position: relative;
    padding: 1px 10px;
    font-size: 14px;
    margin-top: 3px;
    margin-bottom: 0px;
    text-decoration: none;
    margin-right: 5px;
    cursor: pointer;
    color: black;
    &:hover{
        color:#fb3165;
    }
}
.dimensions{
    ul{
        margin-left: 20px;
        li{
            p{
                @include variablesCommon();
            }
        }
    }
}
.magnitude {
    ul{
        margin-left: 20px;
        li{
            p{
                @include variablesCommon();
                border: 1px solid #a3dfee;
            }
        }
    }
}
// @mixin selectedVariable{
//     display: inline-block;
//     border-radius: 10px;
//     position: relative;
//     padding: 1px 10px;
//     font-size: 14px;
//     margin: 8px 5px;
//     color: white;
//     &:hover{
//         cursor: pointer;
//     }
// }
// .selectedDimensions{
//     @include selectedVariable();
//     background-color: #ff4982;
// }
// .selectedMagnitude{
//     @include selectedVariable();
//     background-color:#a3dfee;
// }
.selectedVariable{
    display: inline-block;
    border-radius: 10px;
    position: relative;
    padding: 1px 10px;
    font-size: 14px;
    margin: 8px 5px;
    color: white;
    height: 24px;
    &:hover{
        cursor: pointer;
    }
    i{
        position: absolute;
        height: 15px;
        width: 15px;
        right: -12px;
        top: -5px;
        background-size: cover;
        display: inline-block;
        background-image: url(../../images/delete.png);
        &:hover{
            background-image: url(../../images/deleteHover.png);
        }
    }
}
.selectedVariables{
    height: 300px;
    width: 330px;
    position: relative;
    margin-left: 20px;
}
.chartArea{
    height: 600px;
    position: relative;
    min-width: 500px;
}
.subType{
    width: 135px;
    height: 400px;
}
.variablesTab{
    width: 135px;
    height: 230px;
    margin-top: 20px;
}