.line{
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px;
}
.axis path,.axis line{
    fill: none;
    stroke: lightgrey;
    shape-rendering: crispEdges;
}
.grid .tick{
    stroke: lightgrey;
    stroke-opacity: 0.1;
    shape-rendering: crispEdges;
}
.grid path{
    stroke-width: 0;
}