.variablesTab p{
    color: gray;
    font-size: 15px;
    display: inline;
}
.variablesTab{
    ul{
        margin-left: 20px;
        li{
            height: 30px;
            margin: 3px 0;
            &:hover p{
                color: #fb3165
            }
        }
    }
}
.inputColor{
    width: 50px;
    margin-left: 10px;
}
.inputSize{
    @extend .inputColor;
}
.tabRect{
    margin-left: 10px;
    width: 10px;
    height: 10px;
    border: 1px solid gray;
    display: inline-block;
    &:hover{
        border: 1px solid #fb3165;
    }
}
.tabEllipse{
    @extend .tabRect;
    border-radius: 5px;
}
.tabCircle{
    @extend .tabRect;
    border-radius: 10px;
}