table{
    margin-left: 5px;
    margin-top: 10px;
    border-collapse: separate;
    border-spacing: 15px 0px;
    th{
        padding: 1px;
        color: gray;
        i{
            pointer-events: none;
            display: inline-block;
            height: 20px;
            width: 20px;
            background-size: contain;
            background-repeat: no-repeat;
        }
        p{
            pointer-events: none;
            font-size: 10px;
            margin-bottom: 8px;
            margin-top: 0px;
            font-weight: normal;
        }
    }
}
@mixin commonHover{
    cursor: pointer;
    p{
        color:#fb3165;
    }
}
@mixin commonDisplay{
    p{
        color: #1296db;
    }
}
.barChartNormal{
    i{
        background-image: url('../../images/bar-chart-normal.png');
    }
}
.barChartDisplay{
    i{
        background-image: url('../../images/bar-chart-display.png');
    }
    @include commonDisplay();
}
.barChartEnable{
    @extend .barChartNormal;
    &:hover{
        @include commonHover();
        i{
            background-image: url('../../images/bar-chart-hover.png');
        }
    }
}
.pieNormal{
    i{
        background-image: url('../../images/pie-chart-normal.png');
    }
}
.pieEnable{
    @extend .pieNormal;
    &:hover{
        @include commonHover();
        i{
            background-image:url('../../images/pie-chart-hover.png');
        }
    }
}
.pieDisplay{
    i{
        background-image: url('../../images/pie-chart-display.png');
    }
    @include commonDisplay();
}
.areaChartNormal{
    i{
        background-image: url('../../images/area-chart-normal.png');
    }
}
.areaChartEnable{
    @extend .areaChartNormal;
    &:hover{
        @include commonHover();
        i{
            background-image: url('../../images/area-chart-hover.png');
        }
    }
}
.areaChartDisplay{
    i{
        background-image: url('../../images/area-chart-display.png');
    }
    @include commonDisplay();
}
.lineChartNormal{
    i{
        background-image: url('../../images/line-chart-normal.png');
    }
}
.lineChartEnable{
    @extend .lineChartNormal;
    &:hover{
        @include commonHover();
        i{
            background-image: url('../../images/line-chart-hover.png');
        }
    }
}
.lineChartDisplay{
    i{
        background-image: url('../../images/line-chart-display.png');
    }
    @include commonDisplay();
}
.scatterSolidNormal{
    i{
        background-image: url('../../images/scatter-solid-normal.png');
    }
}
.scatterSolidEnable{
    @extend .scatterSolidNormal;
    &:hover{
        @include commonHover();
        i{
            background-image: url('../../images/scatter-solid-hover.png');
        }
    }
}
.scatterSolidDisplay{
    i{
        background-image: url('../../images/scatter-solid-display.png');
    }
    @include commonDisplay();
}
.scatterHollowNormal{
    i{
        background-image:url('../../images/scatter-hollow-normal.png');
    }
}
.scatterHollowEnable{
    @extend .scatterHollowNormal;
    &:hover{
        @include commonHover();
        i{
            background-image: url('../../images/scatter-hollow-hover.png');
        }
    }
}
.scatterHollowDisplay{
    i{
        background-image: url('../../images/scatter-hollow-display.png');
    }
    @include commonDisplay();
}
.tidyTreeNormal{
    i{
        background-image: url('../../images/tree-chart-normal.png');
    }
}
.tidyTreeEnable{
    @extend .tidyTreeNormal;
    &:hover{
        @include commonHover();
        i{
            background-image: url('../../images/tree-chart-hover.png');
        }
    }
}
.tidyTreeDisplay{
    i{
        background-image: url('../../images/tree-chart-display.png');
    }
    @include commonDisplay();
}
.chordDiagramNormal{
    i{
        background-image: url('../../images/chord-chart-normal.png');
    }
}
.chordDiagramEnable{
    @extend .chordDiagramNormal;
    &:hover{
        @include commonHover();
        i{
            background-image:url('../../images/chord-chart-hover.png');
        }
    }
}
.chordDiagramDisplay{
    i{
        background-image: url('../../images/chord-chart-display.png');
    }
    @include commonDisplay();
}
.icicleNormal{
    i{
        background-image: url('../../images/icicle-chart-normal.png');
    }
}
.icicleEnable{
    @extend .icicleNormal;
    &:hover{
        @include commonHover();
        i{
            background-image: url('../../images/icicle-chart-hover.png');
        }
    }
}
.icicleDisplay{
    i{
        background-image: url('../../images/icicle-chart-display.png');
    }
    @include commonDisplay();
}
.sunburstNormal{
    i{
        background-image: url('../../images/sunburst-chart-normal.png');
    }
}
.sunburstEnable{
    @extend .sunburstNormal;
    &:hover{
        @include commonHover();
        i{
            background-image: url('../../images/sunburst-chart-hover.png');
        }
    }
}
.sunburstDisplay{
    i{
        background-image: url('../../images/sunburst-chart-display.png');
    }
    @include commonDisplay();
}